node_modules
out/
logs/
run/
.idea/
package-lock.json
data/
.vscode/launch.json
public/
public/electron/
public/dist/
pnpm-lock.yaml
.kiro/
.yalc/
yalc.lock
go/tmp/
go/public/dist/
build/extraResources/java-app.jar
build/extraResources/jre8/
build/extraResources/server_log/
python/.venv/
python/*.spec
python/build/
python/dist/
*DS_Store

